<div class="mb-5">
	<h2 class="mb-5 text-2xl font-bold">Learning Path</h2>
	<div class="px-5">
		<p class="text-justify">
			I have tried a few technologies on my journey to become a decent Software developer. For
			some I have stuck with, for some it didn't click.
		</p>
		<p class="text-justify">I keep learning and trying out everything I learn.</p>
	</div>
	<p class="my-2 text-justify text-lg font-bold">
		Here is a list of a few things I have picked up along the way:
	</p>
	<div class="mb-5 px-5">
		<ul>
			<!-- <li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>HTML, CSS, JavaScript</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li> -->
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Test Driven Development</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Object Oriented Programming</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Django</p>
				<div>
					<p class="rounded-full bg-green-200 px-2 font-bold">Ongoing</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Source Control</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Agile and Scrum</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Design Patterns</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Design Principles</p>
				<div>
					<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
				</div>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Data Structures and Algorithms</p>
				<div>
					<p class="rounded-full bg-green-200 px-2 font-bold">Ongoing</p>
				</div>
			</li>
		</ul>
	</div>
	<p class="my-2 text-justify text-lg font-bold">
		Here are a few things I am looking forward to learning:
	</p>
	<div class="px-5">
		<ul class="flex flex-wrap gap-5">
			<li>HATEOAS</li>
			<li>Scaling Databases</li>
			<li>Microservices</li>
			<li>Serverless</li>
			<li>Elastic Search</li>
			<li>Nginx</li>
			<li>DevOps</li>
			<li>Transactions/ACID</li>
			<li>Blockchain</li>
			<li>Rust</li>
		</ul>
	</div>
</div>
<div class="mb-5">
	<h2 class="mb-5 text-2xl font-bold">Education</h2>
	<div class="px-5">
		<ul>
			<li class="mb-2">
				<p class="font-bold">Coding Bootcamp</p>
				<p class="pl-5">Refactory, Uganda</p>
			</li>
			<li class="mb-2">
				<p class="font-bold">Certificate of Software Engineering</p>
				<p class="pl-5">Clarke International University, Uganda</p>
			</li>
			<li class="mb-2">
				<p class="font-bold">BSc. Chemical Engineering</p>
				<p class="pl-5">Liaoning University of Technology, China.</p>
			</li>
		</ul>
	</div>
</div>
