<div class="mb-5">
	<h2 class="mb-5 text-2xl font-bold">Learning Path</h2>
	<p class="text-justify">
		I have tried a few technologies on my journey to become a decent Software developer. For
		some I have stuck with, for some it didn't click.
	</p>
	<p class="text-justify">I keep learning and trying out everything I learn.</p>
	<p class="my-2 text-justify text-lg font-bold">
		Here is a list of a few things I have picked up along the way:
	</p>
	<div>
		<ul>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>HTML, CSS, JavaScript</p>
				<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Python</p>
				<p class="rounded-full bg-green-300 px-2 font-bold">In progress</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Object Oriented Programming</p>
				<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Django</p>
				<p class="rounded-full bg-green-200 px-2 font-bold">In progress</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Git</p>
				<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Agile and Scrum</p>
				<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Design Patterns</p>
				<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Design Principles</p>
				<p class="rounded-full bg-green-600 px-2 font-bold text-white">Completed</p>
			</li>
			<li class="mb-3 flex justify-between rounded p-2 shadow-sm shadow-slate-300">
				<p>Data Structures and Algorithms</p>
				<p class="rounded-full bg-green-200 px-2 font-bold">In progress</p>
			</li>
		</ul>
	</div>
	<p class="my-2 text-justify text-lg font-bold">
		Here is a list of a few things I am looking forward to learning about:
	</p>
	<div>
		<ul class="flex flex-wrap gap-5">
			<li>HATEOAS</li>
			<li>Scaling Databases</li>
			<li>Microservices</li>
			<li>Serverless</li>
			<li>Elastic Search</li>
			<li>Nginx</li>
			<li>DevOps</li>
			<li>Transactions/ACID</li>
			<li>Blockchain</li>
		</ul>
	</div>
</div>
<div class="mb-5">
	<h2 class="mb-5 text-2xl font-bold">Education</h2>
</div>
