<footer class="mt-10 py-3 text-stone-700 md:flex md:justify-between">
	<ul class="flex space-x-3">
		<li class="font-semibold hover:text-black">
			<a href="https://medium.com/@albertashaba.a" target="_blank"
				><i class="ri-medium-line"></i
			></a>
		</li>
		<li class="hover:text-black">
			<a href="https://www.instagram.com/tripplea_codes/" target="_blank"
				><i class="ri-instagram-line"></i
			></a>
		</li>
		<li class="hover:text-black">
			<a href="https://github.com/TrippleA-Ashaba" target="_blank"
				><i class="ri-github-line"></i
			></a>
		</li>
		<li class="hover:text-black">
			<a href="https://twitter.com/ashabaheebwa" target="_blank"
				><i class="ri-twitter-line"></i
			></a>
		</li>
		<li class="hover:text-black">
			<a href="https://www.linkedin.com/in/tripplea/" target="_blank"
				><i class="ri-linkedin-box-line"></i
			></a>
		</li>
	</ul>
	<ul class="text-xs">
		<li class="">&copy;2023 Albert Ashaba Aheebwa. All rights reserved</li>
		<li class="">Powered by <span class="font-semibold text-green-600">Django 4.2</span></li>
	</ul>
</footer>
