<div class="mb-5">
	<h2 class="text-2xl font-bold">Skills & Tools</h2>
	<div class="mt-5">
		<div class="flex flex-wrap gap-2">
			<div class="rounded-lg bg-sky-700 p-1 px-2 text-sm text-white">Python</div>
			<div class="rounded-lg bg-yellow-400 p-1 px-2 text-sm">JavaScript</div>
			<div class="rounded-lg bg-sky-600 p-1 px-2 text-sm text-white">TypeScript</div>
			<div class="rounded-lg bg-green-700 p-1 px-2 text-sm text-white">Django</div>
			<div class="rounded-lg bg-lime-700 p-1 px-2 text-sm text-white">Node JS</div>
			<div class="rounded-lg bg-blue-500 p-1 px-2 text-sm text-white">PostgresSQL</div>
			<div class="rounded-lg bg-green-600 p-1 px-2 text-sm text-white">Mongo DB</div>
			<div class="rounded-lg bg-red-500 p-1 px-2 text-sm text-white">HTML</div>
			<div class="rounded-lg bg-blue-700 p-1 px-2 text-sm text-white">CSS</div>
			<div class="rounded-lg bg-yellow-800 p-1 px-2 text-sm text-white">UML</div>
			<div class="rounded-lg bg-orange-500 p-1 px-2 text-sm text-white">Pug</div>
			<div class="rounded-lg bg-pink-500 p-1 px-2 text-sm text-white">Express JS</div>
			<div class="rounded-lg bg-blue-500 p-1 px-2 text-sm text-white">Alpine JS</div>
			<div class="rounded-lg bg-neutral-700 p-1 px-2 text-sm text-white">Flask</div>
			<div class="rounded-lg bg-red-700 p-1 px-2 text-sm text-white">Unit Testing</div>
			<div class="rounded-lg bg-indigo-500 p-1 px-2 text-sm text-white">Bootstrap CSS</div>
			<div class="rounded-lg bg-black p-1 px-2 text-sm text-white">Agile & Scrum</div>
			<div class="rounded-lg bg-blue-600 p-1 px-2 text-sm text-white">Tailwind CSS</div>
			<div class="rounded-lg bg-lime-500 p-1 px-2 text-sm text-white">Vitest</div>
			<div class="rounded-lg bg-amber-900 p-1 px-2 text-sm text-white">Mocha/Chai</div>
			<div class="rounded-lg bg-indigo-500 p-1 px-2 text-sm text-white">CI/CD</div>
			<div class="rounded-lg bg-blue-800 p-1 px-2 text-sm text-white">HTMX</div>
			<div class="rounded-lg bg-indigo-500 p-1 px-2 text-sm text-white">Heroku</div>
			<div class="rounded-lg bg-green-700 p-1 px-2 text-sm text-white">Linode</div>
			<div class="rounded-lg bg-blue-400 p-1 px-2 text-sm text-white">Digital Ocean</div>
			<div class="rounded-lg bg-orange-500 p-1 px-2 text-sm text-white">Draw.io</div>
			<div class="rounded-lg bg-violet-700 p-1 px-2 text-sm text-white">Vite</div>
			<div class="rounded-lg bg-orange-400 p-1 px-2 text-sm text-white">MySQL</div>
			<div class="rounded-lg bg-indigo-500 p-1 px-2 text-sm text-white">Trello</div>
			<div class="rounded-lg bg-teal-800 p-1 px-2 text-sm text-white">OOP</div>
			<div class="rounded-lg bg-gray-800 p-1 px-2 text-sm text-white">Design Patterns</div>
			<div class="rounded-lg bg-rose-800 p-1 px-2 text-sm text-white">Figma</div>
		</div>
	</div>
</div>
