{% extends 'base.html' %}

<!--  -->
{% block content %}
<div class="mb-5">
	<h2 class="mb-5 text-2xl font-bold">About</h2>
	<blockquote
		class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text p-5 text-center font-bold text-transparent">
		You can't use up creativity. The more you use, the more you have.
		<cite>- Maya Angelou</cite>
	</blockquote>
	<p class="px-5 text-justify">
		My interest in web development started back in 2022 when I decided to try editing a resume
		template during the pandemic lockdown — turns out trying to center a div taught me a lot
		about HTML & CSS! Fast-forward to today, and I have had the privilege of joining a Bootcamp
		team where I have worked on industrial level projects, built and maintained websites for
		people and companies. My focus nowadays is on the Backend in Python - Django and JavaScript
		- Node. While maintaining a Blog where I document my programming journey in this competitive
		sector. With a few tutorials of new things I get to learn along the way.
	</p>
</div>

<!-- Education -->
{% include 'partials/educ.html' %}
<!--  -->

{% endblock content %}
