{% extends 'base.html' %} {% load static %}

<!--  -->
{% block content %}

<h1 class="mb-20 text-center text-3xl font-semibold">Latest Articles</h1>

<!--  -->
{% if blogs %}
<div class="sm:grid sm:grid-cols-2 sm:gap-16">
	{% for blog in blogs %}
	<div
		class="mb-20 rounded-lg p-6 shadow-md shadow-stone-700 transition-all delay-100 duration-1000 ease-in-out hover:scale-105 hover:shadow-lg hover:shadow-stone-700 dark:hover:shadow-stone-300 sm:mb-10">
		<div class="card">
			<div class="relative flex flex-col justify-end">
				<div class="-mt-12 mb-5">
					<img
						class="object-fit rounded-md shadow-lg shadow-stone-500"
						src="{{blog.thumbnail}}"
						alt="" />
				</div>
				<div>
					<h1
						class="mb-3 text-justify text-lg font-bold hover:text-indigo-800 dark:hover:text-indigo-600">
						<a
							class="after:absolute after:inset-0"
							href="{{blog.guid}}"
							target="_blank">
							{{blog.title}}
						</a>
					</h1>
					<div>
						<!-- Date Published -->
						<p class="text-right text-xs font-thin text-gray-800 dark:text-gray-500">
							<i class="ri-time-line"></i>{{blog.pubDate}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
<!--  -->

{% endblock content %}
