{% extends 'base.html' %} {% load static %}

<!--  -->
{% block content %}

<h1 class="mb-20 text-center text-3xl font-semibold">Latest Articles</h1>
<div class="grid grid-cols-2 gap-10">
	<div
		class="rounded-lg p-6 shadow-md shadow-stone-700 transition-all delay-100 duration-1000 ease-in-out hover:scale-105 hover:bg-gradient-to-r hover:from-pink-600 hover:to-violet-500 hover:bg-clip-text hover:text-transparent">
		<div class="card">
			<div class="flex flex-col justify-end">
				<div class="-mt-12 mb-5">
					<img
						class="object-fit rounded-md shadow-lg shadow-stone-500"
						src="{% static 'images/projects/test.png' %}"
						alt="" />
				</div>
				<div>
					<h1 class="mb-3 text-justify text-lg font-bold">
						<a class="after:absolute after:inset-0" href="" target="_blank">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. corrupti
							possimus inventore excepturi.
						</a>
					</h1>

					<p class="text-right align-middle text-sm font-thin text-black">
						<i class="ri-time-line"></i>datepub here
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
	<div class="card">
		<div>
			<img class="object-fit" src="{% static 'images/projects/test.png' %}" alt="" />
		</div>
		<div>
			<h1>Title here</h1>
			<p>datepub here</p>
		</div>
	</div>
</div>

{% endblock content %}
