{% extends "base.html" %} {% load static %}
<!--  -->
{% block content %}

<div class="md:flex">
	<div class="mt-5">
		<h2 class="font-bold">
			Hey! I'm Albert, a full stack developer and writer based in Uganda.
		</h2>
		I enjoys creating things for the internet. I am Software Engineering enthusiast who is very
		eager learn and always ready to share my knowledge. My career goal is to become the person
		everyone runs to for a solution. My interest in web development started back in 2022 when I
		decided to try editing a resume template during the pandemic lockdown — turns out trying to
		center a div taught me a lot about HTML & CSS! Fast-forward to today, and I have had the
		privilege of joining a Bootcamp team where I have worked on industrial level projects, built
		and maintained websites for people and companies. My focus nowadays is on the Backend in
		Python - Django and JavaScript - Node. I have also recently launched a Blog where I document
		my programming journey in this competitive sector. With a few tutorials of new things I get
		to learn along the way.
	</div>
	<div>
		<div class="ml-9 w-36">
			<img class="object-fit rounded-full" src="{% static 'images/hero.png' %}" alt="" />
		</div>
	</div>
</div>

{% endblock content %}
